.single-item
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 70px 0 60px 0
    margin: 0 auto
    max-width: 865px
    &__img
        width: 392px
        height: 355px
        filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25))
    &__info
        text-align: center
        img
            margin-bottom: 25px
    &__descr
        max-width: 418px
        font-size: 14px
        line-height: 20px
        text-align: left
        margin-bottom: 16px
        span
            font-weight: bold
    &__price
        text-align: left
        span
            font-size: 24px
            line-height: 35px
            font-weight: bold
