.skeleton
    margin-top: 30px
    &__title
        width: 50%
        height: 48px
        margin: 0 auto
        background-color: gray
        margin-bottom: 40px
    &__img
        width: 50%
        height: 50vh
        margin: 0 auto
        background-color: gray
        margin-bottom: 20px
    &__block
        height: 35px
        width: 100%
        background-color: gray
        margin-bottom: 20px
