.coffee-item
    width: 220px
    height: 260px
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25))
    &_best
        height: 240px
        filter: none
    &__link
        display: flex
        flex-wrap: wrap
        align-items: center
        flex-direction: column
        width: 100%
        height: 100%
        text-decoration: none
        color: #000
        background: #FFF
        transition: all .2s
        &:hover
            filter: drop-shadow(5px 5px 35px rgba(0, 0, 0, 0.25))
        &_best
            background: rgba(255, 255, 255, 0.65)
            transition: .3s
            &:hover
                filter: none
                transform: scale(1.1)
    img
        margin-top: 22px
        width: 151px
        height: 130px
    &__name
        display: inline-block
        text-decoration: none
        color: #000
        margin-top: 14px
        font-size: 14px
        line-height: 20px
        transition: .3s
        // &:hover
        //     cursor: pointer
        //     transform: scale(1.1)
    &__price, &__country
        margin-top: 10px
        margin-right: 22px
        font-size: 14px
        line-height: 20px
        align-self: end
    &__price
        font-weight: bold
